<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
  </head>
  <body class="login-container">
    <div class="login-wrapper">
        <form action="" class="form-group">
                <div class="form-logo">BPMS APP</div>
                <div class="input-group">
                    <input type="text" placeholder="Username">
                    <span class="input-group-addon" id="start-date"><span class="glyphicon glyphicon-user">
                </div>
                
                <div class="input-group">
                    <input type="password" placeholder="Password">
                    <span class="input-group-addon" id="start-date"><span class="glyphicon glyphicon-calendar">
                </div>
                <a class="button" href="#">login</a>
        </form>
    </div>
</body>
</html>
